﻿<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Quickbooks Integration</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right" ng-show="user">
                <li><a>Welcome, {{user.name}}</a></li>
                <li><a href="/#/home">Pending Invoices</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div style="height: 30px;"></div>

<h1 ng-show="invoices.length < 1" id="pageTitle">There is no invoices synced</h1>
<div ng-hide="invoices.length < 1" style="margin-top: 30px">
    <table class="importedData">
        <tr>
            <th>QbId</th>
            <th>Sync Date</th>
            <th>Database</th>
            <th>Broker Name</th>
            <th>Billing Address</th>
            <th>City</th>
            <th>State</th>
            <th>ZipCode</th>
            <th>Country</th>
            <th>SOSInvoiceNumber</th>
            <th>LoadNumber</th>
            <th>InvoiceDate</th>
            <th>DueByDate</th>
            <th>CustomerReferenceNumber</th>
            <th>PickUpDate</th>
            <th>InternalReferenceNumber</th>
            <th>PickUpCity</th>
            <th>DeliveryDate</th>
            <th>DeliveryCity</th>
            <th>PCs</th>
            <th>Weight</th>
            <th>Miles</th>
            <th>Notes</th>
            <th>BasicFreightRate</th>
            <th>ExtraPickUp</th>
            <th>ExtraDelivery</th>
            <th>WaitingTime</th>
            <th>LumperFees</th>
            <th>Overnight</th>
            <th>Others</th>
            <th>FuelSurcharge</th>
            <th>CongestionFee</th>
            <th>BondFee</th>
            <th>BrokerAdvance</th>
            <th>BrokerAdvanceFee</th>
            <th>Discount</th>
            <th>TotalAmount</th>
            <th>FootNotes</th>
            <th>DispatcherName</th>
            <th>Overweight</th>
            <th>PerDiem</th>
            <th>BorderFee</th>
            <th>Hazardous</th>
            <th>QuickPay Fee</th>
            <th>Class</th>
        </tr>
        <tr style="border: 1px solid lightgray" ng-repeat="invoice in invoices">
            <td class="centerValue">{{invoice.qbId}}</td>
            <td>{{invoice.syncDate}}</td>
            <td>{{invoice.databaseName}}</td>
            <td>
                {{invoice.brokerName}}
            </td>
            <td>
                {{invoice.billingAddress}}
            </td>
            <td>
                {{invoice.city}}
            </td>
            <td>
                {{invoice.state}}
            </td>
            <td>
                {{invoice.zipCode}}
            </td>
            <td>
                {{invoice.country}}
            </td>
            <td>
                {{invoice.sosInvoiceNumber}}
            </td>
            <td>
                {{invoice.loadNumber}}
            </td>
            <td>
                {{invoice.invoiceDate}}
            </td>
            <td>
                {{invoice.dueByDate}}
            </td>
            <td>
                {{invoice.customerReferenceNumber}}
            </td>
            <td>
                {{invoice.pickUpDate}}
            </td>
            <td>
                {{invoice.internalReferenceNumber}}
            </td>
            <td>
                {{invoice.pickUpCity}}
            </td>
            <td>
                {{invoice.deliveryDate}}
            </td>
            <td>
                {{invoice.deliveryCity}}
            </td>
            <td>
                {{invoice.pCs}}
            </td>
            <td>
                {{invoice.weight}}
            </td>
            <td>
                {{invoice.miles}}
            </td>
            <td>
                {{invoice.notes}}
            </td>
            <td class="centerValue">
                {{invoice.basicFreightRate}}
            </td>
            <td class="centerValue">
                {{invoice.extraPickUp}}
            </td>
            <td class="centerValue">
                {{invoice.extraDelivery}}
            </td>
            <td class="centerValue">
                {{invoice.waitingTime}}
            </td>
            <td class="centerValue">
                {{invoice.lumperFees}}
            </td>
            <td class="centerValue">
                {{invoice.overnight}}
            </td>
            <td class="centerValue">
                {{invoice.others}}
            </td>
            <td class="centerValue">
                {{invoice.fuelSurcharge}}
            </td>
            <td class="centerValue">
                {{invoice.congestionFee}}
            </td>
            <td class="centerValue">
                {{invoice.bondFee}}
            </td>
            <td class="centerValue">
                {{invoice.brokerAdvance}}
            </td>
            <td class="centerValue">
                {{invoice.brokerAdvanceFee}}
            </td>
            <td class="centerValue">
                {{invoice.discount}}
            </td>
            <td class="centerValue">
                {{invoice.totalAmount}}
            </td>
            <td>
                {{invoice.footNotes}}
            </td>
            <td>
                {{invoice.dispatcherName}}
            </td>
            <td class="centerValue">
                {{invoice.overweight}}
            </td>
            <td class="centerValue">
                {{invoice.perDiem}}
            </td>
            <td class="centerValue">
                {{invoice.borderFee}}
            </td>
            <td class="centerValue">
                {{invoice.hazardous}}
            </td>
            <td class="centerValue">
                {{invoice.quickPayFee}}
            </td>
            <td>
                {{invoice.class}}
            </td>
        </tr>
    </table>
</div>