﻿<!DOCTYPE html>
<html lang="en" ng-app="Application" ng-controller="parentController">
    <head>
        <meta charset="utf-8">
        <title>Application - {{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link href="/assets/bootswatch.min.css" rel="stylesheet" media="screen">
        <link href="/assets/toastr.css" rel="stylesheet" media="screen">
        <link href="/assets/blockUi.css" rel="stylesheet" media="screen">

        <link href="/assets/quickbookStyle.css" rel="stylesheet" media="screen">        </head>
    <body>
        <script src="/assets/le.min.js"></script>
    <script src="/assets/logentriessdk.js"></script>

        <div class="container" style="margin-left: 10px;margin-right: 10px">
            
            <div ng-view></div>
            
            <div style="height: 70px;"></div>
        </div>            
        <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
        <script src="/assets/jquery-1.10.2.min.js"></script>
        <script src="/assets/bootstrap-3.1.1-dist/js/bootstrap.min.js"> </script>    
        <script src="/assets/angular.min.js"> </script>
        <script src="/assets/angular-route.js"> </script>   
        <link href="assets/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
        <script src="assets/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="/assets/toastr.js"></script>
        
        <script src="/app/app.js"> </script>
        
        <!--controllers-->
        <script src="/app/controllers/loginController.js"> </script>
        <script src="/app/controllers/forgotPasswordController.js"> </script>
        <script src="/app/controllers/resetPasswordController.js"> </script>
        <script src="/app/controllers/registrationController.js"> </script>
        <script src="/app/controllers/homeController.js"></script>
        <script src="/app/controllers/syncedInvoicesController.js"> </script>
        <script src="/app/controllers/parentController.js"> </script>
        <script src="app/controllers/profileController.js"></script>
        <script src="app/controllers/quickbooksConnectController.js"></script>
        <script src="app/controllers/connectToQuickbooksController.js"></script>
        <script src="app/controllers/syncController.js"></script>

        <!--services-->        
        <script src="/app/services/httpq.js"> </script>
        <script src="/app/services/loginService.js"> </script>
        <script src="/app/services/userService.js"> </script>
        <script src="/app/services/accountService.js"> </script>
        <script src="/app/services/facebookService.js"></script>
        <script src="/app/services/googleService.js"></script>
        <script src="/app/services/homeService.js"></script>
        <script src="app/services/adminService.js"></script>
        <script src="app/services/menuService.js"></script>
        <script src="app/services/userAbilitiesService.js"></script>

        <!--directives-->
        <script src="app/directives/multiselect-dropdown.js"></script>
        <script src="app/directives/ng-file-upload-shim.min.js"></script>
        <script src="app/directives/ng-file-upload.min.js"></script>
        <script src="app/directives/blockUi.js"></script>
        <script type="text/javascript" src="app/directives/angular-timer.js"></script>
        <script type="text/javascript" src="app/directives/angular-timer-all.js"></script>

    <script type="text/javascript">
        //setTimeout(function() {
        //    intuit.ipp.anywhere.setup({
        //        grantUrl: 'http://localhost:8001/#/quickbooksConnect',
        //        datasources: {
        //            quickbooks: true,
        //            payments: true
        //        },
        //        paymentOptions: {
        //            intuitReferred: true
        //        }
        //    });
        //}, 1000);
        </script>
        <script type="text/javascript">
            
            window.onerror = function(msg, url, line) {
                LE.error({ message: msg, url: url, line: line });
                var suppressErrorAlert = true;
                return suppressErrorAlert;
            };

        </script>

    </body>
</html>