﻿
.importedData {
    border: 1px solid lightgray;
}

.importedData tr {
    border: 1px solid lightgray;
}
.importedData tr th {
    border: 1px solid lightgray;
    padding: 5px;
}
.importedData tr td {
    border: 1px solid lightgray;
    font-size: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.centerValue{
    text-align: center
}